version: '3.8' # Specify the Docker Compose version

services:
  fe:
    image: xcurvnubaim/chartdb-fe-custom:latest
    container_name: chardb-fe
    ports:
      - "3100:80" # Map the container's port to the host
    depends_on:
      - be

  be:
    image: xcurvnubaim/chartdb-be-custom:latest
    container_name: chartdb-be
    environment:
      - MONGODB_URI={{ mongodb_uri }}
      - COLLECTION_NAME={{ collection_name }}
      - DB_NAME={{ db_name }}
      - PORT=80

volumes:
  db-data: 
