server {
    listen 80;

    server_name {{ domain_name }};  # Replace with your server's domain or IP

    location / {
        proxy_pass http://{{ hostvars['server2']['private_ip'] }}:9000;  # Dynamic IP
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
