apiVersion: v1
kind: Secret
metadata:
  name: affine-credentials
  namespace: default
type: Opaque
stringData:
  POSTGRES_HOST: postgres
  DATABASE_URL: postgresql://<db_user>:<db_password>@<postgres_host>:5432/<db_name>
